<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.intelligence.menu">
         <menu
               id="it.jrc.smart.fire.menu"
               label="Fires">
            <command
                  commandId="it.jrc.smart.fire.commands.OpenFireManager"
                  label="Open fire manager"
                  style="push">
            </command>
            <command
                  commandId="it.jrc.smart.fire.ShowFirePerspective"
                  label="Open fire perspective"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="it.jrc.smart.fire.commands.OpenFireManager"
            name="Open">
      </command>
      <command
            id="it.jrc.smart.fire.ShowFirePerspective"
            name="Open perspective">
      </command>
  </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="it.jrc.smart.fire.ShowFirePerspective"
            icon="images/etool16/delete.png">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.jrc.smart.fire.FirePerspective"
            icon="images/etool16/delete.png"
            id="it.jrc.smart.fire.FirePerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="it.jrc.smart.fire.FireListView"
            icon="images/etool16/delete.png"
            id="it.jrc.smart.fire.FireListView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.jrc.smart.fire.handlers.ActiveFirePluginHandler"
            commandId="it.jrc.smart.fire.commands.OpenFireManager">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="it.jrc.smart.fire.handlers.OpenFirePerspectiveHandler"
            commandId="it.jrc.smart.fire.ShowFirePerspective">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
    </extension>

  
   <!-- Register the class in hibernate -->
   <!-- This uses the RCP plugin mechanism to advertise hibernate mappings -->
   <extension point="org.wcs.smart.hibernate.mapping">
      <class class="it.jrc.smart.fire.model.ActiveFire"/>
   </extension>

</plugin>
